@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
}

html {
    font-family: 'Merriweather', serif;
    font-size: 62.5%;
    color: #000;
}

body {
    width: 100%;
    max-width: 1440px;
    background: #F7F7F2;
    margin: auto;
    padding: 30px 30px 90px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto minmax(min-content, max-content) auto;
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: .75;
}

h2 {
    font-size: 2rem;
    margin-bottom: .6rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: .6rem;
}

p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

p.small-text {
    font-size: 1.2rem;
    margin-bottom: .6rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: .5;
    letter-spacing: .3rem;
}

/* 
p.small-text::after {
    content: " —";
} */

/**********************/

/* Navigation Section */

/**********************/

header {
    grid-area: 1/1/2/5;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #000;
}

.logo {
    object-fit: contain;
    margin-right: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    height: 72px;
}

nav li {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    padding: 0 18px;
    margin-right: 24px;
    opacity: .5;
}

nav li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

nav li.nav-link-active {
    font-weight: 700;
    opacity: 1;
}

/****************/

/* Hero Section */

/****************/

.hero {
    grid-area: 2/1/3/5;
    width: 100%;
    /* margin-top: -60px; */
    border-bottom: 2px solid #000;
    margin-bottom: 60px;
}

.hero-article {
    display: flex;
    align-items: flex-end;
}

.hero-text {
    margin-top: 30px;
    width: 50%;
    padding: 30px 30px 60px 0px;
    display: flex;
    flex-direction: column;
}

.hero-text h1 {
    font-size: 7.2rem;
    line-height: 7.8rem;
    margin-bottom: 3.6rem;
    margin-top: 1.8rem;
}

.hero-image {
    background: url('./assets/bg_oval.svg') no-repeat bottom right;
    background-size: contain;
    width: 50%;
    margin-top: -60px;
}

.hero img {
    width: 100%;
    margin-bottom: -4px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, .2))
}

.hero a {
    padding: 12px 0px 12px 24px;
    font-size: 1.8rem;
    margin-top: 48px;
    border-left: 2px solid #000;
    width: 220px;
}

.hero a:hover {
    padding-left: 30px;
}

/*********************/

/* Spotlight Section */

/*********************/

.spotlight {
    grid-area: 3/1/4/5;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.spotlight-article img {
    width: 120px;
    height: 120px;
    clip-path: circle(60px);
    object-fit: cover;
    margin-right: 24px;
}

.spotlight-article {
    display: flex;
    flex: 1;
    padding: 24px 0px;
}

/****************/

/* Article Grid */

/****************/

.article-wrapper {
    grid-area: 4/1/5/5;
    padding: 60px;
    background: #FFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.article-head {
    font-size: 4.2rem;
    font-weight: 400;
    margin-bottom: 4.8rem;
}

.article-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
    align-items: flex-start;
}

.grid-article {
    flex: 1;
    min-width: 200px;
    padding-top: 18px;
    border-top: 2px solid #000;
}

.grid-article:hover, .spotlight-article:hover {
    opacity: .75;
}

@media all and (max-width: 1180px) {
    .grid-article {
        flex: 1;
        min-width: 300px;
    }
}

@media all and (max-width: 1024px) {
    header {
        width: 100%;
        justify-content: space-between;
    }
    nav li {
        padding: 0 12px;
        margin-right: 24px;
        opacity: .5;
    }
    .hero {
        margin-bottom: 48px;
    }
    .hero-article {
        flex-direction: column;
        align-content: center;
    }
    .hero-text {
        width: 100%;
        margin-top: 0px;
    }
    .hero-text h1 {
        max-width: 600px;
    }
    .hero-text p {
        max-width: 600px;
    }
    .hero-image {
        background: url('./assets/bg_oval.svg') no-repeat bottom right;
        background-size: contain;
        width: 65%;
        margin-top: -180px;
    }
    .spotlight {
        gap: 24px;
        margin-bottom: 48px;
    }
    .spotlight-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px;
    }
    .spotlight-article img {
        margin-bottom: 18px;
    }
    .article-grid {
        gap: 30px;
    }
}

@media all and (max-width: 880px) {
    .hero-image {
        margin-top: -120px;
    }
    .article-head {
        font-size: 3.6rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .article-wrapper {
        padding: 30px 30px 48px 30px
    }
    .grid-article {
        min-width: 300px;
    }
}

@media all and (max-width: 580px) {
    body {
        padding: 30px 30px 60px 30px;
    }
    .logo {
        margin-right: 0px;
    }
    header {
        flex-direction: column;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        border-top: 1px solid #000;
        margin-top: 30px;
        height: 60px;
    }
    nav li {
        padding: 0px;
    }
    .hero-text {
        padding: 30px 30px 60px 0px;
        display: flex;
        flex-direction: column;
    }
    .hero-text h1 {
        font-size: 4.2rem;
        line-height: 4.8rem;
        margin-bottom: 1.8rem;
        margin-top: .6rem;
    }
    .hero a {
        padding: 12px 0px 12px 18px;
        font-size: 1.8rem;
        margin-top: 24px;
        border-left: 2px solid #000;
        width: 220px;
        z-index: 2;
    }
    .spotlight {
        flex-direction: column;
    }
    .spotlight-article img {
        margin-bottom: 0px;
    }
    .spotlight-article img {
        width: 80px;
        height: 80px;
        clip-path: circle(40px);
        margin-right: 18px;
    }
    .spotlight-article {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .2)
    }
    .spotlight-article:last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
        ;
    }
    .grid-article {
        min-width: 240px;
    }
}

@media all and (max-width: 440px) {
    body {
        padding: 30px 18px 60px 18px;
    }
    .hero-image {
        margin-top: -60px;
        width: 75%;
    }
}